.addItem {
    margin-right: 15px;
    height: 30px;
    width: 310px;
    padding: 0 10px 0 10px;
    font-size: 19px;
}
.sPanel_b {
    font-weight: 700;
    font-size: 18px;
    height: 33px;
    background-color: white;
    border: 1px solid steelblue;
    margin-right:5px;
    border-radius: 5px;
    outline: none;
    transition: .3s;
}